<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{vm.isNew ? "Add" : "Edit"}} <small>Movie</small>
            </h1>
            <!--<ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a ui-sref="home">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-users"></i> <a ui-sref="users">Users</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> {{vm.isNew ? "Add" : "Edit"}} User
                </li>
            </ol>-->
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <form role="form" name="movieForm" novalidate ng-submit="vm.save(movieForm)" enctype="multipart/form-data">
                <div class="form-group"> <!--has-success | has-warning | has-error -->
                    <label class="control-label" for="title">Title</label>
                    <input ng-model="vm.movie.title" type="text" class="form-control" id="title" required>
                </div>

                <div class="form-group">
                    <label class="control-label" for="slug">Slug</label>
                    <input ng-model="vm.movie.slug" type="text" class="form-control" id="slug" required>
                </div>

                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <textarea ng-model="vm.movie.description" class="form-control" id="description" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label" for="releaseDate">Release Date</label>
                    <datepicker date-format="d MMM yyyy" date-set="{{ vm.editDate }}">
                        <input ng-model="vm.movie.releaseDate" type="text" id="releaseDate">
                    </datepicker>
                </div>

                <!-- Use grouped radio options -->
                <div class="form-group">
                    <label>Motion Picture Rating</label>
                    <div class="radio" ng-repeat="(rating, desc) in vm.mpRatings">
                        <label>
                            <input ng-model="vm.movie.mpRating" type="radio" value="{{ rating }}" name="mpRatings">
                            {{ rating }}
                        </label>
                    </div>
                </div>

                <!-- Use grouped radio options -->
                <div class="form-group">
                    <label class="control-label" for="rating">Rating</label>
                    <input ng-model="vm.movie.rating" type="number" id="rating" min="1" max="10" step="0.1" value="1">
                    <!--<input ng-model="vm.movie.rating" type="text" id="rating">-->
                </div>

                <!-- Use checkboxes for options -->
                <div class="form-group">
                    <label>Genres</label>
                    <div>
                        <label class="checkbox-inline" ng-repeat="genre in vm.genres">
                            <input type="checkbox" value="{{ genre.title }}" name="genres[]" ng-checked="vm.isGenreSelected(genre)"
                                   ng-click="vm.toggleGenre(genre)">
                            {{ genre.title }}
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Stars</label>
                    <!-- List of added stars here (with option to remove) -->
                    <div class="row">
                        <span ng-repeat="star in vm.movie.stars">{{ star.name }}</span><br/>
                    </div>

                    <angucomplete-alt id="stars" placeholder="Search actors/actresses" selected-object="vm.star" title-field="name" 
                        remote-url="/api/persons?limitType=1&q=" input-class="form-control form-control-small"/>
              
                    <button type="button" ng-click="vm.addStar()" ng-disabled="!vm.star">Add</button>
                </div>

                <div class="form-group">
                    <label class="control-label" for="slug">Actors</label>
                    <!-- List of added actors + roles here (with option to remove) [and maybe ordering] -->
                    <div class="row">
                        <span ng-repeat="actor in vm.movie.actors">{{ actor.actor.name }} as {{ actor.role }}</span><br/>
                    </div>

                    <div class="row">
                        <angucomplete-alt id="stars" placeholder="Search actors/actresses" selected-object="vm.actor.name" title-field="name" 
                        remote-url="/api/persons?limitType=1&q=" input-class="form-control form-control-small"/>
                        <input ng-model="vm.actor.role" type="text" class="form-control" id="actor_role" placeholder="Role">
                        <button type="button" ng-click="vm.addActor()" ng-disabled="">Add</button>
                    </div>
                </div>

                <!-- Highlight -->
                <div class="form-group">
                    <label class="control-label" for="highlight">Highlight</label>
                    <input ng-model="vm.movie.highlight" type="checkbox" class="form-control" id="highlight">
                </div>

                <div class="form-group" ng-show="vm.movie.highlight">
                    <label class="control-label" for="highlight_image">Highlight Image</label>
                    
                    <div ng-if="vm.editHighlight">
                        <img ng-src="{{ vm.editHighlight }}" alt="{{ vm.movie.title }} highlight">
                        <button ng-click="vm.editHighlight = null">Remove</button>
                    </div>

                    <div ng-if="!vm.editHighlight">
                        <!--<i ng-show="myForm.file.$error.required">*required</i><br>-->
                        <i ng-show="movieForm.highlight.$error.minWidth">File too wide {{errorFile.size}}px: min 1200px</i>
                        <i ng-show="movieForm.highlight.$error.minHeight">File too tall {{errorFile.size}}px: min 600px</i>
                        <i ng-show="movieForm.highlight.$error.ratio">Wrong file ratio {{errorFile.size}}MB:max 2M</i> <!--ratio: '2:1'-->
                        <input type="file" ngf-select ng-model="vm.highlightImage" name="highlight" accept="image/*" ngf-max-size="12MB"
                               ngf-model-invalid="errorFile" 
                               ngf-validate="{size: {max: '20MB'}, width: {min: 1200}, height: {min: 600}}">
                        <img ng-show="movieForm.highlight.$valid" ngf-thumbnail="vm.highlightImage" class="thumb">
                        <button ng-click="vm.highlightImage = null" ng-show="vm.highlightImage">Remove</button>
                    </div>
                </div>

                <!-- Image -->
                <div class="form-group">
                    <label class="control-label" for="image">Image</label>

                    <div ng-if="vm.editImage">
                        <img ng-src="{{ vm.editImage }}" alt="vm.movie.title">
                        <button ng-click="vm.editImage = null">Remove</button>
                    </div>

                    <div ng-if="!vm.editImage">
                        <input type="file" ngf-select ng-model="vm.image" name="file" accept="image/*" ngf-max-size="12MB"
                               required ngf-model-invalid="errorFile">
                        <img ng-show="movieForm.file.$valid" ngf-thumbnail="vm.image" class="thumb"> <!-- No thumb if invalid -->
                        <button ng-click="vm.image = null" ng-show="vm.image">Remove</button>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                    </div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-success" ng-disabled="!movieForm.$valid">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>

</div>