<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{vm.isNew ? "Add" : "Edit"}} <small>User</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a ui-sref="home">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-users"></i> <a ui-sref="users">Users</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> {{vm.isNew ? "Add" : "Edit"}} User
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <form role="form" name="userForm" novalidate ng-submit="vm.save(userForm)">
                <div class="form-group"> <!--has-success | has-warning | has-error -->
                    <label class="control-label" for="username">Username</label>
                    <input ng-model="vm.user.username" type="text" class="form-control" id="username">
                </div>

                <div class="form-group">
                    <label class="control-label" for="firstname">First Name</label>
                    <input ng-model="vm.user.firstname" type="text" class="form-control" id="firstname">
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastname">Last Name</label>
                    <input ng-model="vm.user.lastname" type="text" class="form-control" id="lastname">
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input ng-model="vm.user.email" type="text" class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input ng-model="vm.user.password" type="password" class="form-control" id="password">
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirm Password</label>
                    <input ng-model="vm.user.confirmPassword" type="password" class="form-control" id="confirmPassword">
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                    </div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>

</div>