<div class="header" style="background: url('{{ vm.main.highlightImage }}') no-repeat 0px 0px;background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;-ms-background-size:cover;">
    <!-- Because background-size won't pick unless it's in the same place as the image -->

    <div class="top-header">
        <div class="logo">
            <a href="index.html"><img src="dist/front/images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"
                />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="header-info">
        <h1>{{ vm.main.title }}</h1>
        <!--<p class="age"><a href="#">{{ vm.main.mpRating || 'Not Rated' }}</a> Don Hall, Chris Williams</p>-->
        <p class="age">
            <a href="#">{{ vm.main.mpRating || 'Not Rated' }}</a> 
            <span ng-repeat="star in vm.main.stars">
                {{ star.name }}<span ng-if="!$last">, </span>
            </span>
        </p>
        <p class="review">Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; {{ vm.main.rating || 'N/A'}}/10</p>
        <p class="review reviewgo">Genre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;
            <span ng-repeat="genre in vm.main.genres">{{ genre.title }}</span>
        </p>
        <p class="review">Release &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; {{ vm.main.releaseDate | date: 'd MMM yyyy' }}</p>
        <p class="special">{{ vm.main.description }}</p>
        <!--<a class="video" href="#"><i class="video1"></i>WATCH TRAILER</a>-->
        <!--<a class="book" href="#"><i class="book1"></i>BOOK TICKET</a>-->
    </div>
</div>

<mv-flexisel items="vm.highlights"></mv-flexisel>
