<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{vm.isNew ? "Add" : "Edit"}} <small>Genre</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">
            <form role="form" name="genreForm" novalidate ng-submit="vm.save(genreForm)">
                <div class="form-group"> <!--has-success | has-warning | has-error -->
                    <label class="control-label" for="title">Title</label>
                    <input ng-model="vm.genre.title" type="text" class="form-control" id="title" required>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
                    </div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-3"></div>
    </div>

</div>