<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3>
                        <a ui-sref="addPerson" class="btn btn-round btn-success">Add New Person</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="responsive-table">
                        <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="person in vm.persons">
                                    <td>{{person.name}}</td>
                                    <td>
                                        <a class="btn btn-info" ui-sref="editPerson({id:person.id})">View</a>
                                        <a class="btn btn-danger" ng-click="vm.remove(person)">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>